.signup
  .signup__header
    .header-icon
      = link_to root_path do
        = image_tag "logo.png"
    .signup__header__info
      %ol
        %li.active
          会員情報
          .progress-status.active
        %li
          電話番号認証
          .progress-status
        %li
          完了
          .progress-status
  .signup__main
    .section
      %h2 会員情報入力
      = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
        = render "devise/shared/error_messages", resource: resource
        .content
          .field
            = f.label :ニックネーム
            %span.require 必須
            %br/
            -# カラム作成後修正項目
            = f.email_field :email, autofocus: true, class: "input-area", placeholder: "例）メルカリ太郎"
          .field
            = f.label :メールアドレス
            %span.require 必須
            %br/
            = f.email_field :email, autocomplete: "email",class: "input-area", placeholder: "PC・携帯どちらでも可"
          .field
            = f.label :パスワード
            %span.require 必須
            %br/
            = f.password_field :password, autocomplete: "new-password",class: "input-area", placeholder: "７文字以上の半角英数字"
            .check-field
              %p ※ 英字と数字の両方を含めて設定してください
              .check-box
                = f.check_box :remember_me, class: "icon-check"
                = f.label :パスワードを表示する
          .field
            %h3
              本人確認
            %p.text
              安心・安全にご利用いただくために、お客さまの本人情報の登録にご協力ください。他のお客さまに公開されることはありません。
          .field
            = f.label :お名前（全角）
            %span.require 必須
            %br/
            .name
              -# カラム作成後修正項目
              = f.email_field :email, autocomplete: "new-password",class: "input-half left", placeholder: "例）山田"
              %br/
              -# カラム作成後修正項目
              = f.email_field :email, autocomplete: "new-password",class: "input-half", placeholder: "例）太郎"
          .field
            = f.label :お名前（全角） 
            %span.require 必須
            %br/
            .name
              -# カラム作成後修正項目
              = f.email_field :email, autocomplete: "new-password",class: "input-half left", placeholder: "例）山田"
              %br/
              -# カラム作成後修正項目
              = f.email_field :email, autocomplete: "new-password",class: "input-half", placeholder: "例）太郎"
          .field
            = f.label :生年月日
            %span.require 必須
            .birth-select
              .birth--year
              -# カラム作成後修正項目
              = f.select :email, [*(1900..2018)],prompt:"--"
              %span.birth
                年
              .birth--month
              -# カラム作成後修正項目
              = f.select :email, [*(1..12)],prompt:"--"
              %span.birth
                月
              .birth--day
              -# カラム作成後修正項目
              = f.select :email, [*(1..31)],prompt:"--"
              %span.birth
                日
          %p
            ※ 本人情報は正しく入力してください。会員登録後、修正するにはお時間を頂く場合があります。
        .content
          %p
            「次へ進む」のボタンを押すことにより、利用規約に同意したものとみなします
          .actions
            = link_to edit_user_password_path do
              = f.submit "登録する"