<h2>電話番号の登録・確認</h2>

<%= form_for @telephone do |f| %>
  <%= render "devise/shared/error_messages", resource: @telephone %>

  <div class="field">
    <%= f.label :telephone %><br />
    <%= f.text_field :telephone %>
  </div>

  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>