
.html
  .confirmation
    .confirmation__header
      =link_to root_path do
        =image_tag "logo.png",class: "confirmation__header__logo__image"
    .confirmation__main
      .confirmation__main__itemProfile
        .confirmation__main__itemProfile__top
          購入内容の確認
        .confirmation__main__itemProfile__buy
          .confirmation__main__itemProfile__buy__inner
            .confirmation__main__itemProfile__buy__inner__photo
              = image_tag @item.images[0].image_url.url , class:"sample-img",size:"80x80"
            .confirmation__main__itemProfile__buy__inner__titleprice
              %p.confirmation__main__itemProfile__buy__inner__titleprice__title
                = @item.name
              %p.confirmation__main__itemProfile__buy__inner__titleprice__price
                %span#id_value.class_zeikomi
                  = @item.price
                %span{class:"tax"}
                  (税込) 送料込み
        .confirmation__main__itemProfile__price-confirmation
          .confirmation__main__itemProfile__price-confirmation__inner
            .confirmation__main__itemProfile__price-confirmation__inner__payment
              .confirmation__main__itemProfile__price-confirmation__inner__payment__cell
                支払い金額
              .confirmation__main__itemProfile__price-confirmation__inner__payment__include-tax
                = @item.price
            .confirmation__main__itemProfile__price-confirmation__inner__have-point
              =check_box_tag :use_point
              =label_tag :use_point, "ポイントを使用（所持ポイント：p０）"
          %section.cresit-card
            .cresit-card__box
              .cresit-card__box__clearfix
                %h3.osiharai
                  支払い方法
                  - if @default_card_information.blank?
                  - else
                .change
                  = link_to "#" ,class:"change-p" do 
                    変更する
              %p.cresit-card__user
                クレジットカード
              %br
                0000000000000000
              %br
                有効期限 11/24
              %figure.card-log
              %image{alt: "jcb", height: "15",width: "49" ,src:"jcb-logomark-img-01.png"} 
          %section.buyer-info
            .buyer-info__box
              .buyer-info__box__clearfix
                %h3.left
                  配送先
                .right
                  = link_to "#" ,class:"change-h" do
                    変更する
              .buyer-info__address
                〒
                %span
                = @user.street_address.zipcode
                %br
                = @user.street_address.city
                %span
                = @user.street_address.address
                - if @user.street_address.building.present?
                  = @user.street_address.building
                %br
                = @user.nickname
          %section.buy-content
            %p.buy-content__message
            = link_to pay_item_orders_path, method: :POST do
              %button{ onclick: "#", type:  "“button”",class:"red-btn"}購入する
              %p.app
            アプリをお持ちでない方は以下よりインストールしてご利用いただけます。
            .app-introduce
              = link_to "" do    
                = image_tag asset_path("duellinks03.png"), size: "140x43", class: "abtn"
              = link_to "" do
                = image_tag asset_path("Google-Play-Badge.png"), size: "140x43", class: "gbtn"
    .confirmation__footer
      .confirmation__footer__message
        %ul
          %li 
            = link_to "#",class:"privacy" do
              プライバシーポリシー
          %li 
            = link_to "#",class:"kiyaku" do
              メルカリ利用規約
          %li  
            = link_to "#",class:"torihiki" do
              特定商取引に関する表記
      .confirmation__footer__logo
        = link_to root_path do    
          = image_tag asset_path("logo.png"), size: "145x55", class: "abtn"
        %p.license
        © Furima, Inc.