.html
  .confirmation
    .confirmation__header
      =link_to "#" , class: "confirmation__header__logo" do
        =image_tag "logo.png",class: "confirmation__header__logo__image"

    .confirmation__main
      .confirmation__main__itemProfile
        .confirmation__main__itemProfile__top
          購入内容の確認
        .confirmation__main__itemProfile__buy
          .confirmation__main__itemProfile__buy__inner
            .confirmation__main__itemProfile__buy__inner__photo
              = image_tag src="sample.png" , class:"sample-img",size:"80x80"
            .confirmation__main__itemProfile__buy__inner__titleprice
              %p.confirmation__main__itemProfile__buy__inner__titleprice__title
                サンプル
                -# render
              %p.confirmation__main__itemProfile__buy__inner__titleprice__price
                -# render
                %span#id_value.class_zeikomi
                  ¥2,500
                %span{"class"=>"aaa"}
                  (税込) 送料込み
        .confirmation__main__itemProfile__price-confirmation
          .confirmation__main__itemProfile__price-confirmation__inner
            .confirmation__main__itemProfile__price-confirmation__inner__payment
              .confirmation__main__itemProfile__price-confirmation__inner__payment__cell
                支払い金額
              .confirmation__main__itemProfile__price-confirmation__inner__payment__include-tax
                ¥2,500
            .confirmation__main__itemProfile__price-confirmation__inner__have-point
              =check_box_tag :use_point
              =label_tag :use_point, "ポイントを使用（所持ポイント：p０）"
          %section.cresit-card
            .cresit-card__box
              .cresit-card__box__clearfix
                %h3.osiharai
                  支払い方法
                .change
                  = link_to "#" ,class:"change-p" do 
                    変更する
              %p.cresit-card__user
                クレジットカード
              %br
                0000000000000000
              %br
                有効期限 11/24
              %figure.card-log
              %image{alt: "jcb", height: "15",width: "49" ,src:"jcb-logomark-img-01.png"} 
          %section.buyer-info
            .buyer-info__box
              .buyer-info__box__clearfix
                %h3.left
                  配送先
                .right
                  = link_to "#" ,class:"change-h" do
                    変更する
              .buyer-info__address
                %p 〒000-0000
                %br
                大阪府大阪市難波スカイオ
                %br
                オオハシケンジ
          %section.buy-content
            %p.buy-content__message
            %button{:onclick => "#", :type => "“button”",:class=>"red-btn"}購入する
            %p.app
            アプリをお持ちでない方は以下よりインストールしてご利用いただけます。
            .app-introduce
              = link_to "" do    
                = image_tag src="/assets/duellinks03.png", size: "140x43", class: "abtn"
              = link_to "" do
                = image_tag src="/assets/Google-Play-Badge.png", size: "140x43", class: "gbtn"
    .confirmation__footer
      .confirmation__footer__message
        %ul
          %li 
            = link_to "#",class:"privacy" do
              プライバシーポリシー
          %li 
            = link_to "#",class:"kiyaku" do
              メルカリ利用規約
          %li  
            = link_to "#",class:"torihiki" do
              特定商取引に関する表記
      .confirmation__footer__logo
        = link_to "/" do    
          = image_tag "logo.png", size: "145x55", class: "abtn"
        %p.license
        © Furima, Inc.