.appBanner
  .appBanner__inner
    %h2.appBanner__inner__title だれでもかんたん、人生を変えるフリマアプリ
      
    %p.appBanner__inner__text 今すぐ無料ダウンロード！
    .appBanner__inner__icon
      -# = link_to edit_user_registration_path do
      = link_to  "https://www.apple.com/jp/ios/app-store/" do
        -# = image_tag "images.png" ,class:"icon-apple" ここは修正
        実験１
      = link_to "https://play.google.com/store/apps/dev?id=5700313618786177705" do
        -# = image_tag "google-play-badge.png" ,class:"icon-google" ここは修正 
        実験２
      
.footer
  %ul.footer__contents
    %li.footer__contents__content
      %h2 FURIMAについて
      = link_to "#" ,class:"kaisya" do
        会社概要
      = link_to "#" ,class:"privacy" do
        プライバシーポリシー
      = link_to "#" ,class:"kiyaku" do
        FURIMA利用規約
      = link_to "#" ,class:"tokuyaku" do
        ポイントに関する特約 
    %li.footer__contents__content
      %h2 FURIMAを見る
      = link_to "#" ,class:"category" do
        カテゴリー一覧
      = link_to "#" ,class:"brand" do
        ブランド一覧
    %li.footer__contents__content
      %h2 ヘルプ＆ガイド
      = link_to "#" ,class:"guide" do
        FURIMAガイド
      = link_to "#" ,class:"guideline" do
        FURIMAロゴ利用ガイドライン
      = link_to "#" , class:"osirase" do
        お知らせ
  = image_tag src="logo-white.png" , class:"footer__logo"
  %p© FURIMA