.appBanner
  .appBanner__inner
    %h2.appBanner__inner__title だれでもかんたん、人生を変えるフリマアプリ
      
    %p.appBanner__inner__text 今すぐ無料ダウンロード！
    .appBanner__inner__icon
      = image_tag asset_path("duellinks03.png") ,class:"icon-apple" 
      = image_tag asset_path("Google-Play-Badge.png") ,class:"icon-google" 
      
      
.footer
  %ul.footer__contents
    %li.footer__contents__content
      %h2 FURIMAについて
      = link_to "#" ,class:"kaisya" do
        会社概要
      = link_to "#" ,class:"privacy" do
        プライバシーポリシー
      = link_to "#" ,class:"kiyaku" do
        FURIMA利用規約
      = link_to "#" ,class:"tokuyaku" do
        ポイントに関する特約 
    %li.footer__contents__content
      %h2 FURIMAを見る
      = link_to "#" ,class:"category" do
        カテゴリー一覧
      = link_to "#" ,class:"brand" do
        ブランド一覧
    %li.footer__contents__content
      %h2 ヘルプ＆ガイド
      = link_to "#" ,class:"guide" do
        FURIMAガイド
      = link_to "#" ,class:"guideline" do
        FURIMAロゴ利用ガイドライン
      = link_to "#" , class:"osirase" do
        お知らせ
  = image_tag asset_path("logo-white.png") , class:"footer__logo"
  %p© FURIMA