.mainvisual
  .mainvisual__content
    .mainvisual__content__subtitle
      人生を変えるフリマアプリ
    .mainvisual__content__text
      FURIMAは誰でもかんたんに出品・購入できるフリマアプリです
    .mainvisual__content__btn 
      = link_to "" do    
        = image_tag asset_path("duellinks03.png"), size: "180x53", class: "mainvisual__content__btn__abtn"
      = link_to "" do
        = image_tag asset_path("Google-Play-Badge.png"), size: "180x53", class: "mainvisual__content__btn__gbtn"
    .mainvisual__content__pict
  


.introduction
  .introduction__subtitle
    FURIMAが選ばれる３つの理由
  .introduction__lists
    .introduction__lists__tag
      .introduction__lists__tag__src
        .number
          1 
        .image  
          = image_tag asset_path("pict-reason-01.jpg"), size: "306x306", class: "introduction__lists__tag__pict"
          
      
      .introduction__lists__tag__text
        .text__top 
          3分で
        すぐ出品
      .introduction__lists__tag__comment
        スマホで入力するだけで簡単に出品できる
    .introduction__lists__tag
      .introduction__lists__tag__src
        .number
          2 
        .image  
          = image_tag asset_path("pict-reason-02.jpg"), size: "306x306", class: "introduction__lists__tag__pict"
          
      .introduction__lists__tag__pict
      .introduction__lists__tag__text
        .text__top
          シンプル
        で使いやすい
      .introduction__lists__tag__comment
        めんどくさい入力は必要なく、検索も購入もスムーズ
    .introduction__lists__tag
      .introduction__lists__tag__src
        .number
          3 
        .image  
          = image_tag asset_path("pict-reason-03.jpg"), size: "306x306", class: "introduction__lists__tag__pict"
          
      .introduction__lists__tag__pict
      .introduction__lists__tag__text
        手数料
        .text__top
          業界最安
      .introduction__lists__tag__comment
        最大３%でお得に出品&購入



      

.mainvisual2
  .mainvisual__content
    .mainvisual__content__subtitle
      人生を変えるフリマアプリ
    .mainvisual__content__text
      FURIMAは誰でもかんたんに出品・購入できるフリマアプリです
    .mainvisual__content__btn 
      = link_to "#" do
        = image_tag asset_path("duellinks03.png"), size: "180x53", class: "mainvisual__content__btn__abtn"
      = link_to "#" do
        = image_tag asset_path("Google-Play-Badge.png"), size: "180x53", class: "mainvisual__content__btn__gbtn"
    .mainvisual__content__pict


.midle
  .midle__subtitle
    FURIMAの特徴
  .midle__lists
    .midle__lists__tag
      .midle__lists__tag__src
        .image  
          = image_tag asset_path("icon-01.png"), size: "306x306", class: "midle__lists__tag__pict"  
      .midle__lists__tag__text   
        簡単に売り買いできる
      .midle__lists__tag__comment
        スマホひとつで、いつでもどこでも簡単に出品・購入が可能！
    .midle__lists__tag
      .midle__lists__tag__src
        .image  
          = image_tag asset_path("icon-03.png"), size: "306x306", class: "midle__lists__tag__pict"           
      .midle__lists__tag__pict
      .midle__lists__tag__text
        売上金は即日振り込みに対応
      .midle__lists__tag__comment
        午前9時までに振込を依頼いただければ、翌日に指定の口座に入金いたします！
    
    .midle__lists__tag
      .midle__lists__tag__src 
        .image  
          = image_tag asset_path("icon-04.png"), size: "306x306", class: "midle__lists__tag__pict"    
      .midle__lists__tag__pict
      .midle__lists__tag__text
        様々な支払いに対応
      .midle__lists__tag__comment
        お支払いは、クレジットカードだけでなく、ポイントや売上金など多彩な方法があります。








.pickupcontainer
  .pickupcontainer__head
    ピックアップカテゴリー
  .pickupcontainer__productbox
    .pickupcontainer__productbox__producthead
      = link_to "#" , class: "line" do
        アーカイバ
      .wrapper
        = render @items 
  .pickupcontainer__head
    ピックアップカテゴリー
    .pickupcontainer__productbox
      .pickupcontainer__productbox__producthead
        = link_to "#", class: "line"  do
          新規投稿商品
        .wrapper
          = render @items 
   

 