.line2
  .line2__box
    = link_to "#" , class: "line2__box__first" do
      FURIMA
      = icon('fas', 'angle-right') 
    = link_to "#" , class: "line2__box__first" do
      ベビー・キッズ
      = icon('fa', 'angle-right')
    = link_to "#" , class: "line2__box__first" do
      ベビー服（男女兼用）
      = icon('fa', 'angle-right')
    = link_to "#" , class: "line2__box__first" do
      アウター
      = icon('fa', 'angle-right')
    = link_to "#" , class: "line2__box__final" do
      product3

.top
  = render partial: 'deta_edit', locals: { item: @items }
  
  .top__content
    .top__content__form
    
    
      .top__content__form__image__box
        .top__content__form__image__box__name
          prouduct3

        .top__content__form__image__box__body
          = image_tag asset_path("706029.jpeg"), size: "500x346"
          .top__content__form__image__box__body__three
            
            = image_tag asset_path("706029.jpeg"), size: "140x87"
            = image_tag asset_path("706029.jpeg"), size: "140x87"
            = image_tag asset_path("706029.jpeg"), size: "140x87"
            
        
        .top__content__form__image__box__price
          .top__content__form__image__box__price__japan
            ¥30000円
          .top__content__form__image__box__price__plus
            （税込）送料込み
        .top__conten__formt__image__box__detail
          production3
        .top__content__form__image__box__table
          .top__content__form__image__box__table__line
            .top__content__form__image__box__table__line__left
              出品者
            .top__content__form__image__box__table__line__right
              hoge
          .top__content__form__image__box__table__line
            .top__content__form__image__box__table__line__left
              カテゴリー
              
            .top__content__form__image__box__table__line__right
              = link_to "#" , class: "top__content__form__image__box__table__line__right__first" do
                ベビー・キッズ
              = link_to "#" , class: "top__content__form__image__box__table__line__right__first" do
                ベビー服（男女兼用）〜95cm
              = link_to "#" , class: "top__content__form__image__box__table__line__right__first" do
                アウター
          .top__content__form__image__box__table__line
            .top__content__form__image__box__table__line__left
              ブランド
            .top__content__form__image__box__table__line__right
              
          .top__content__form__image__box__table__line
            .top__content__form__image__box__table__line__left
              商品のサイズ
            .top__content__form__image__box__table__line__right
              
          .top__content__form__image__box__table__line
            .top__content__form__image__box__table__line__left
              商品の状態
            .top__content__form__image__box__table__line__right
              未使用に近い
          .top__content__form__image__box__table__line
            .top__content__form__image__box__table__line__left
              発送量の負担
            .top__content__form__image__box__table__line__right
              送料込み（出品者負担）
          .top__content__form__image__box__table__line
            .top__content__form__image__box__table__line__left
              発送元の地域
            .top__content__form__image__box__table__line__right
              = link_to "#" , class: "top__content__image__box__table__line__right__first" do
                岩手県
          .top__content__form__image__box__table__line
            .top__content__form__image__box__table__line__left
              発送日の目安
            .top__content__form__image__box__table__line__right
              4-7日で発送

          


        .top__content__form__image__box__option
          .top__content__form__image__box__option__form
            .top__content__form__image__box__option__form__like
              ★ お気に入り0
          .top__content__form__image__box__option__report
            .top__content__form__image__box__option__report__icon
              %i.fas.fa-flag
            .top__content__form__image__box__option__report__text
              不適切な商品の通報

    .top__content__form__comment
    
     
        
      -# .top__content__form__comment__box__text
      -#   相手のことを考え丁寧なコメントを心がけましょう。
      -#   %br 不快な言葉遣いなどは利用制限や大会
      -# .top__content__form__comment__btn   
      -#   = f.submit 'コメントする', class: ' top__content__form__comment__btn__send'


    .top__content__links
      = link_to "#" , class: "top__content__links__back" do
        < 前の商品
      = link_to "#" , class: "top__content__links__back" do
        後ろの商品 >
    = link_to "#" , class: "top__content__edit" do
      ベビー・キッズをもっと見る
    




