.line2
  .line2__box
    = link_to "#" , class: "line2__box__first" do
      FURIMA
      = icon('fas', 'angle-right') 
    = link_to "#" , class: "line2__box__first" do
      ベビー・キッズ
      = icon('fa', 'angle-right')
    = link_to "#" , class: "line2__box__first" do
      ベビー服（男女兼用）
      = icon('fa', 'angle-right')
    = link_to "#" , class: "line2__box__first" do
      アウター
      = icon('fa', 'angle-right')
    = link_to "#" , class: "line2__box__final" do
      product3

.top
  = render partial: 'deta_edit', locals: { item: @items }
  
  -# 